<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion - @ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/hover-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/material.indigo-pink.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.12.1.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/material.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")" type="text/javascript"></script>

    <script>
        function showGif() {
            $("div#loadingWidget").show();
        };
        function hideGif() {
            $("div#loadingWidget").hide();
        };

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                showGif();
            }).ajaxStop(function () {
                hideGif();
            });
            ChargerTypeCompte();
        });



    //---------------------------------------------------------------------------------------------------------
    //------------- AJAX -----------------------

        //ChargerTypeCompte
        function ChargerTypeCompte() {
        var baseUrl = '@Url.Content("~/Home/GetCompteAjax/")';

            $.getJSON(baseUrl, function (result) {
                $.each(result, function (index, itemData) {

                    var isComptePerso = itemData.isCat;
                    var select = document.getElementById('selectComptes');
                    var lbSelect = document.getElementById('lbSelectComptes');

                    if (isComptePerso) {

                        select.checked = false;
                        TYPEdeCOMPTE = "perso";
                        return "perso";
                    }
                    else {
                        lbSelect.classList.add("is-checked");
                        select.checked = true;
                        TYPEdeCOMPTE = "commun";
                        return "commun";
                    }
                });
            });
        };


        //ChangementComptes
        function ChangementComptes(selecteur)
        {
            var compteChoisi;
            var title = document.getElementById("titre");

            if (selecteur.checked)
            {
                compteChoisi = "commun";
                TYPEdeCOMPTE = "commun";
                if (title != null) {
                    title.innerText = title.innerText.replace("perso", compteChoisi);
                }
            }
            else
            {
                compteChoisi = "perso";
                TYPEdeCOMPTE = "perso";
                if (title != null) {
                    title.innerText = title.innerText.replace("commun", compteChoisi);
                }
            }

            var data = {
                'paramCompte': compteChoisi
            };

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/Home/ChangementCompteAjax")',
                data: data,
                success: function () {
                    displayMessage("Changement de compte effectué");
                    EffectuerRecherche();
                }
            });
        }

        //Affichage d'un message
        function displayMessage(message) {
            if (message.includes("[Erreur]")) {
                message.replace("[Erreur]", "");
                document.getElementById('MessageFlottantErreur').innerText = message;
                document.getElementById('MessageFlottantErreur').style.display = 'none';
                document.getElementById('MessageFlottantErreur').removeAttribute("hidden");
                $('#MessageFlottantErreur').fadeIn('fast');
                $('#MessageFlottantErreur').delay(3000).fadeOut('slow');
            } else {
                document.getElementById('MessageFlottant').innerText = message;
                document.getElementById('MessageFlottant').style.display = 'none';
                document.getElementById('MessageFlottant').removeAttribute("hidden");
                $('#MessageFlottant').fadeIn('fast');
                $('#MessageFlottant').delay(3000).fadeOut('slow');
            }
        }

    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row" id="nav_liens">
                <!-- Title -->
                <a class="mdl-layout-title colorWhite" href="/Finance/">Gestion</a>

                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">

                    <!-- Appartement -->
                    <a class="mdl-navigation__link" href="@Url.Content("~/Appartement/index")">Appartement</a>

                    <!-- Dépenses -->
                    <div class="dropdown">
                        <label class="mdl-navigation__link">Dépenses</label>
                        <div class="dropdown-content">
                            <a class="mdl-navigation__link" href="@Url.Content("~/Depenses/AjoutUnitaire")">Ajout unitaire</a>
                            <a class="mdl-navigation__link" href="@Url.Content("~/Depenses/AjoutEnMasse")">Ajout multiple</a>
                        </div>
                    </div>

                    <!-- Consolidation -->
                    <div class="dropdown">
                        <label class="mdl-navigation__link">Consolidation</label>
                        <div class="dropdown-content">
                            <a class="mdl-navigation__link" href="@Url.Content("~/Consolidation/ConsoMensuelle")">Recap Mensuel</a>
                            <a class="mdl-navigation__link" href="@Url.Content("~/Consolidation/ConsoAnnuelle")">Recap Annuel</a>
                            <a class="mdl-navigation__link" href="@Url.Content("~/Consolidation/ConsoGenerale")">Recap Général</a>
                            <a class="mdl-navigation__link" href="@Url.Content("~/Consolidation/Graphiques")">Graphiques</a>
                        </div>
                    </div>

                    <!-- Epargne -->
                    <a class="mdl-navigation__link" href="@Url.Content("~/Epargne/index")">Epargne</a>

                    <!-- Carbone -->
                    <a class="mdl-navigation__link" href="@Url.Content("~/Carbone/index")">Carbone</a>

                    <!-- Administration -->
                    <a class="mdl-navigation__link" href="@Url.Content("~/Administration/Index")">Administration</a><br />


                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer" id="nav_menu">
            <a class="mdl-layout-title mdl-button--accent" href="/">Gestion</a>
            <nav class="mdl-navigation">
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Appartement/index")">Appartement</a><br />
                    <span>Informations sur l'apartement.</span>
                </div>
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Consolidation/ConsoGenerale")">Recap Général</a><br />
                    <span>Récapitulatif général des dépenses.</span>
                </div>
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Consolidation/ConsoAnnuelle")">Recap Annuel</a><br />
                    <span>Récapitulatif des dépenses par années.</span>
                </div>
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Consolidation/Graphiques")">Graphiques</a><br />
                    <span>Représentation visuelle des dépenses.</span>
                </div>
                
                
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Epargne/index")">Epargne</a><br />
                    <span>Gestion de l'épargne.</span>
                </div>
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Carbone/index")">Bilan carbone</a><br />
                    <span>Gestion des bilans carbones.</span>
                </div>
                
                <div class="mdl-navigation__link">
                    <a class="mdl-button--primary" href="@Url.Content("~/Administration/Index")">Administration</a><br />
                </div>
            </nav>
        </div>


        <span id="MessageFlottant" class="messageFlottant" hidden>Message</span>
        <span id="MessageFlottantErreur" class="messageFlottantErreur" hidden>Message</span>
        
        <label id="lbSelectComptes" class="PositionRight mdl-switch mdl-js-switch mdl-js-ripple-effect" for="selectComptes">
            <input type="checkbox" id="selectComptes" class="mdl-switch__input" onchange="ChangementComptes(this)">
        </label>

        <!--CONTENT-->
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="" style="padding-left:5%; padding-right:5%">
                    <br />
                    <!--GIF-->
                    <div id="loadingWidget" role="status">
                        <div class="update-progress">
                            <img src="@Url.Content("~/Content/wait-loading.gif")" class="gifLoading" />
                            <div class="FondGif"></div>
                        </div>
                    </div>

                    <!--PAGE-->
                    @RenderBody()
                    <hr />
                    <footer></footer>
                </div>

               


            </div>
        </main>

    </div>







</body>
</html>
