

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion - @ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/hover-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/material.indigo-pink.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.12.1.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/material.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")" type="text/javascript"></script>

    <script>

        function showGif() {
            $("div#loadingWidget").show();
        };
        function hideGif() {
            $("div#loadingWidget").hide();
        };


        $(document).ready(function () {
            $(document).ajaxStart(function () {
                showGif();
            }).ajaxStop(function () {
                hideGif();
            });

        });



        //---------------------------------------------------------------------------------------------------------
        //------------- AJAX -----------------------

        //Affichage d'un message
        function displayMessage(message) {
            if (message.includes("[Erreur]")) {
                message.replace("[Erreur]", "");
                document.getElementById('MessageFlottantErreur').innerText = message;
                document.getElementById('MessageFlottantErreur').style.display = 'none';
                document.getElementById('MessageFlottantErreur').removeAttribute("hidden");
                $('#MessageFlottantErreur').fadeIn('fast');
                $('#MessageFlottantErreur').delay(3000).fadeOut('slow');
            } else {
                document.getElementById('MessageFlottant').innerText = message;
                document.getElementById('MessageFlottant').style.display = 'none';
                document.getElementById('MessageFlottant').removeAttribute("hidden");
                $('#MessageFlottant').fadeIn('fast');
                $('#MessageFlottant').delay(3000).fadeOut('slow');
            }
        }

    </script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="fullPage" class="fullPage">
    <span id="MessageFlottant" class="messageFlottant" hidden>Message</span>
    <span id="MessageFlottantErreur" class="messageFlottantErreur" hidden>Message</span>
    @RenderBody()
                   

</body>
</html>
