@model ViewModels.Consolidation.GraphiquesAnnuelsVM

<script>


    var IS_GRAPH_2013_CHARGE = false;
    var IS_GRAPH_2014_CHARGE = false;
    var IS_GRAPH_2015_CHARGE = false;
    var IS_GRAPH_2016_CHARGE = false;
    var IS_GRAPH_2017_CHARGE = false;
    var IS_GRAPH_2018_CHARGE = false;
    var IS_GRAPH_2019_CHARGE = false;
    var IS_GRAPH_2020_CHARGE = false;


    $(document).ready(function () {
        ChangeSsOnglet('ssTab_7', 'ssContent_7', 7);
    });


    //Click sur onglet
    function ChangeSsOnglet(onglet, contenu, numOnglet) { 
        var anneeDebut = '@Model.AnneeDebut';
        var nbAnnee = parseInt('@Model.nbAnnees');
        var anneeOnglet = @Model.AnneeDebut + numOnglet;

        for (var i = 0; i <= nbAnnee; i++) {
            var content = 'ssContent_' + i;
            var tabs = 'ssTab_' + i;
            document.getElementById(content).style.display = 'none';
            document.getElementById(tabs).className = '';
        }
        document.getElementById(contenu).style.display = 'block';
        document.getElementById(onglet).className = 'active';

        if (numOnglet > 0) {
            if (anneeOnglet == 2013 && !IS_GRAPH_2013_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2013_CHARGE = true;
            }
            if (anneeOnglet == 2014 && !IS_GRAPH_2014_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2014_CHARGE = true;
            }
            if (anneeOnglet == 2015 && !IS_GRAPH_2015_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2015_CHARGE = true;
            }
            if (anneeOnglet == 2016 && !IS_GRAPH_2016_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2016_CHARGE = true;
            }
            if (anneeOnglet == 2017 && !IS_GRAPH_2017_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2017_CHARGE = true;
            }
            if (anneeOnglet == 2018 && !IS_GRAPH_2018_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2018_CHARGE = true;
            }
            if (anneeOnglet == 2019 && !IS_GRAPH_2019_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2019_CHARGE = true;
            } 
            if (anneeOnglet == 2020 && !IS_GRAPH_2020_CHARGE) {
                LoadGraphRevenusPie(anneeOnglet); LoadGraphDepensesPie(anneeOnglet);
                IS_GRAPH_2020_CHARGE = true;
            } 
        }
    }

    // Pie Revenus -----------------------------------------------------------------------------------------------------------------------------
    //Chargement
    function LoadGraphRevenusPie(annee) {
        var baseUrl = '@Url.Content("~/Consolidation/GetGraphiqueRevenusPie/")';
        var Salaire= 0;
        var Entreprise= 0;
        var Aides= 0;
        var Interets= 0;
        var Vente= 0;
        var Airbnb= 0;
        var Cadeaux = 0;
        var result;

        $.getJSON(baseUrl, { Annee: annee}, function (result) {
            $.each(result, function (index, itemData) {
                result = itemData;

                $.each(result.Salaire, function () { Salaire += parseFloat(this) || 0; });
                $.each(result.Entreprise, function () { Entreprise += parseFloat(this) || 0; });
                $.each(result.Aides, function () { Aides += parseFloat(this) || 0; });
                $.each(result.Interets, function () { Interets += parseFloat(this) || 0; });
                $.each(result.Vente, function () { Vente += parseFloat(this) || 0; });
                $.each(result.Airbnb, function () { Airbnb += parseFloat(this) || 0; });
                $.each(result.Cadeaux, function () { Cadeaux+=parseFloat(this) || 0;});
            });

            //Graph Pie
            var graph = document.getElementById('ch_RevenusPie-' + annee).getContext('2d');
            DisplayTableRevenusPie(graph, Salaire, Entreprise, Aides, Interets, Vente, Airbnb, Cadeaux);

            //Graph courbes
            var graph = document.getElementById('ch_RevenusLine-' + annee).getContext('2d');
            DisplayTableRevenusLine(graph, result);

        });
    }

    //Affichage
    function DisplayTableRevenusPie(graph, tab_Salaire, tab_Entreprise, tab_Aides, tab_Interets, tab_Vente, tab_AirBnb, tab_Cadeaux) {
        //var graphName = 'ch_RevenusPie-' + annee;
        //var ctx = document.getElementById(graphName).getContext('2d');
        var chart = new Chart(graph, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        tab_Salaire,
                        tab_Entreprise,
                        tab_Aides,
                        tab_Interets,
                        tab_Vente,
                        tab_AirBnb,
                        tab_Cadeaux,
                    ],
                    backgroundColor: ['#81C784', '#AED581', '#A5D6A7', '#4DB6AC', '#C5E1A5', '#DCE775', '#80CBC4',],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Salaire',
                    'Entreprise',
                    'Aides',
                    'Intêrets',
                    'Vente', 'Airbnb', 'Cadeaux'
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },

                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });
    }

    //Affichage
    function DisplayTableRevenusLine(graph, result) {
                    var chart = new Chart(graph, {
                        // The type of chart we want to create
                        type: 'line',

                        // The data for our dataset
                        data: {
                            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre',],
                            datasets: [
                                { label: "Salaire", fill: false, borderColor: '#81C784', data: result.Salaire, },
                                { label: "Entreprise", fill: false,borderColor: '#AED581', data: result.Entreprise, },
                                { label: "Aides", fill: false,borderColor: '#A5D6A7', data: result.Aides, },
                                { label: "Intêrets", fill: false,borderColor: '#4DB6AC', data: result.Interets, },
                                { label: "Vente", fill: false,borderColor: '#C5E1A5', data: result.Vente, },
                                { label: "Airbnb", fill: false,borderColor: '#DCE775', data: result.Airbnb, },
                                { label: "Cadeaux", fill: false,borderColor: '#80CBC4', data: result.Cadeaux, }
                            ]
                        },

                        // Configuration options go here
                        options: {}
                    });

    }


    // Pie Dépenses -----------------------------------------------------------------------------------------------------------------------------
    //Chargement
    function LoadGraphDepensesPie(annee) {
        var baseUrl = '@Url.Content("~/Consolidation/GetGraphiqueDepensesPie/")';
        var Logement= 0;
        var Alimentaire= 0;
        var Voiture= 0;
        var Transport= 0;
        var Loisirs= 0;
        var Voyage= 0;
        var Cadeaux= 0;
        var Achats= 0;
        var Vetements= 0;
        var Sante= 0;
        var Impots= 0;
        var Frais= 0;
        var Emprunt = 0;
        var result;

        $.getJSON(baseUrl, { Annee: annee}, function (result) {
            $.each(result, function (index, itemData) {
                result = itemData;

                $.each(result.Logement, function () { Logement += parseFloat(this) || 0; });
                $.each(result.Alimentaire, function () { Alimentaire += parseFloat(this) || 0; });
                $.each(result.Voiture, function () { Voiture += parseFloat(this) || 0; });
                $.each(result.Transport, function () { Transport += parseFloat(this) || 0; });
                $.each(result.Loisirs, function () { Loisirs += parseFloat(this) || 0; });
                $.each(result.Voyage, function () { Voyage += parseFloat(this) || 0; });
                $.each(result.Cadeaux, function () { Cadeaux += parseFloat(this) || 0; });
                $.each(result.Achats, function () { Achats += parseFloat(this) || 0; });
                $.each(result.Vetements, function () { Vetements += parseFloat(this) || 0; });
                $.each(result.Sante, function () { Sante += parseFloat(this) || 0; });
                $.each(result.Impots, function () { Impots += parseFloat(this) || 0; });
                $.each(result.Frais, function () { Frais += parseFloat(this) || 0; });
                $.each(result.Emprunt, function () { Emprunt+=parseFloat(this) || 0;});

            });

            //Graph Pie
            var graph = document.getElementById('ch_DepensesPie-' + annee).getContext('2d');
            DisplayTableDepensesPie(graph, Logement, Alimentaire, Voiture, Transport, Loisirs, Voyage, Cadeaux, Achats, Vetements, Sante, Impots, Frais, Emprunt);

            //Graph courbes
            var graph = document.getElementById('ch_DepensesLine-' + annee).getContext('2d');
            DisplayTableDepensesLine(graph, result);



        });
    }

    //Affichage
    function DisplayTableDepensesPie(graph, tab_Logement, tab_Alimentaire, tab_Voiture, tab_Transport, tab_Loisirs, tab_Voyage, tab_Cadeaux, tab_Achats, tab_Vetements, tab_Sante, tab_Impots, tab_Frais, tab_Emprunt){
        var chart = new Chart(graph, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        tab_Logement, tab_Alimentaire, tab_Voiture, tab_Transport, tab_Loisirs, tab_Voyage, tab_Cadeaux, tab_Achats, tab_Vetements, tab_Sante, tab_Impots, tab_Frais, tab_Emprunt,
                    ],
                    backgroundColor: ['#9FA8DA', '#CE93D8', '#B0BEC5', '#616161', '#FFAB91', '#A5D6A7', '#B2EBF2', '#BCAAA4', '#AFB42B', '#FFF59D', '#EF9A9A', '#F8BBD0', '#E1BEE7',],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Logement', 'Alimentaire', 'Voiture', 'Transport',
                    'Loisirs', 'Voyage', 'Cadeaux', 'Achats',
                    'Vétements', 'Santé', 'Impôts', 'Frais Bancaires','Emprunt'
                ]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },

                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });


    }

    //Affichage
    function DisplayTableDepensesLine(graph, result) {
                    var chart = new Chart(graph, {
                        // The type of chart we want to create
                        type: 'line',
                        // The data for our dataset
                        data: {
                            labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre',],
                            datasets: [
                                { label: "Logement", fill: false, borderColor: '#9FA8DA', data: result.Logement, },
                                { label: "Alimentaire", fill: false,borderColor: '#CE93D8', data: result.Alimentaire, },
                                { label: "Voiture", fill: false,borderColor: '#B0BEC5', data: result.Voiture, },
                                { label: "Transport", fill: false,borderColor: '#616161', data: result.Transport, },
                                { label: "Loisirs", fill: false,borderColor: '#FFAB91', data: result.Loisirs, },
                                { label: "Voyage", fill: false, borderColor: '#A5D6A7', data: result.Voyage, },
                                { label: "Cadeaux", fill: false, borderColor: '#B2EBF2', data: result.Cadeaux, },
                                { label: "Achats", fill: false, borderColor: '#BCAAA4', data: result.Achats, },
                                { label: "Vetements", fill: false, borderColor: '#AFB42B', data: result.Vetements, },
                                { label: "Sante", fill: false, borderColor: '#FFF59D', data: result.Sante, },
                                { label: "Impots", fill: false, borderColor: '#EF9A9A', data: result.Impots, },
                                { label: "Frais", fill: false, borderColor: '#F8BBD0', data: result.Frais, },
                                { label: "Emprunt", fill: false,borderColor: '#E1BEE7', data: result.Emprunt, }
                            ]
                        },

                        // Configuration options go here
                        options: {}
                    });

    }


</script>



<br />

<!--Pour chaques années-->
<div class="tabbed_area">

    <!--Sous onglets-->
    <ul class="tabs">
        @for (int i = 0; i <= Model.nbAnnees; i++)
        {
            int an = Model.AnneeDebut + i;
            <li><a href="javascript:ChangeSsOnglet('ssTab_@i', 'ssContent_@i', @i);" id="ssTab_@i" class="active">@an</a></li>
        }
    </ul>

    <!--Pour chaque année-->
    @for (int i = 0; i <= Model.nbAnnees; i++)
    {
        int annee = Model.AnneeDebut + i;

        <div id="ssContent_@i" class="content">
            <div class="row">

                <!--Pie Revenus-->
                <div class="col-sm-6">
                    <div style="width:100%">
                        <center><h3>Revenus @annee</h3></center>
                        <canvas id="ch_RevenusPie-@annee"></canvas>
                    </div>
                </div>

                <!--Pie Dépenses-->
                <div class="col-sm-6">

                    <div style="width:100%">
                        <center><h3>Dépenses @annee</h3></center>
                        <canvas id="ch_DepensesPie-@annee"></canvas>
                    </div>
                </div>

                <!--graph Revenus-->
                <div class="col-sm-6">
                    <div style="width:100%">
                        <canvas id="ch_RevenusLine-@annee"></canvas>
                    </div>
                </div>

                <!--graph Dépenses-->
                <div class="col-sm-6">

                    <div style="width:100%">
                        <canvas id="ch_DepensesLine-@annee"></canvas>
                    </div>
                </div>
            </div>

        </div>
    }

</div>