@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Chart.bundle.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/JS/graphPie.js")"></script>
<style>
    .demo-card-square.mdl-card {
        width: 640px;
        height: 340px;
    }

    .demo-card-square.mdl-card_Small {
        width: 320px;
        height: 340px;
    }

    .demo-card-square > .mdl-card__title {
        color: #fff;
        background: bottom right 15% no-repeat #3f51b5;
    }
</style>


<script type="text/javascript">


    $(document).ready(function () {
        hideGif();
        //LoadGraphDepensesPie((new Date).getFullYear());
        LoadGraphPieRevenusAnnee('ch_RevenusPie', 2019, false);
        LoadGraphPieDepensesAnnee('ch_DepensesPie', 2019, false);
        GetImageDuJour();
        
    });


    //Get Image du jour
    function GetImageDuJour() {
        var baseUrl = '@Url.Content("~/Home/GetImageDuJour/")';
        var url = "";
        var fullUrl = "";
        var titre = "";
        var description = "";

        $.ajax({
            url: baseUrl, type: "POST", async: true, dataType: "json",
            success: function (result) {
                url = result.UrlLight;
                fullUrl = result.Url;
                titre = result.Titre;
                description = result.Description;

            },
            fail: function () {

            },
            complete: function () {

                $('#fondCarte').fadeTo('fast', 0.3, function()
                {
                    $(this).css('background', 'url(' + url + ') no-repeat');
                }).fadeTo('slow', 1);

                $("#titreCarte").html(titre);
                $("#descriptionCarte").html(description);
                $("#dlCarte").attr('href', fullUrl);
            }
        });
    };


    // Pie Dépenses -----------------------------------------------------------------------------------------------------------------------------
    //Chargement
    function LoadGraphDepensesPie(annee) {
        var baseUrl = '@Url.Content("~/Consolidation/GetGraphiqueDepensesPie/")';

        var tab_Annees = 0;
        var tab_Logement = 0;
        var tab_Entreprise = 0;
        var tab_Alimentaire = 0;
        var tab_Voiture = 0;
        var tab_Transport = 0;
        var tab_Loisirs = 0;
        var tab_Voyage = 0;
        var tab_Cadeaux = 0;
        var tab_Vetements = 0;
        var tab_Sante = 0;
        var tab_Impots = 0;
        var tab_Frais = 0;
        var tab_Emprunt = 0;

        $.getJSON(baseUrl, { Annee: annee}, function (result) {
            $.each(result, function (index, itemData) {
                tab_Annees=(itemData.Annee);
                tab_Logement=(itemData.Logement);
                tab_Alimentaire=(itemData.Alimentaire);
                tab_Voiture=(itemData.Voiture);
                tab_Transport=(itemData.Transport);
                tab_Loisirs=(itemData.Loisirs);
                tab_Voyage=(itemData.Voyage);
                tab_Cadeaux=(itemData.Cadeaux);
                tab_Achats=(itemData.Achats);
                tab_Vetements=(itemData.Vetements);
                tab_Sante=(itemData.Sante);
                tab_Impots=(itemData.Impots);
                tab_Frais=(itemData.Frais);
                tab_Emprunt=(itemData.Emprunt);
            });


            DisplayTableDepensesPie(annee, tab_Annees, tab_Logement, tab_Alimentaire, tab_Voiture, tab_Transport, tab_Loisirs, tab_Voyage, tab_Cadeaux, tab_Achats, tab_Vetements, tab_Sante, tab_Impots, tab_Frais, tab_Emprunt);
        });
    }

    //Affichage
    function DisplayTableDepensesPie(annee, tab_Annees, tab_Logement, tab_Alimentaire, tab_Voiture, tab_Transport, tab_Loisirs, tab_Voyage, tab_Cadeaux, tab_Achats, tab_Vetements, tab_Sante, tab_Impots, tab_Frais, tab_Emprunt){
        var ctx = document.getElementById('ch_DepensesPie').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [
                        tab_Logement, tab_Alimentaire, tab_Voiture, tab_Transport, tab_Loisirs, tab_Voyage, tab_Cadeaux, tab_Achats, tab_Vetements, tab_Sante, tab_Impots, tab_Frais, tab_Emprunt,
                    ],
                    backgroundColor: ['#9FA8DA', '#CE93D8', '#B0BEC5', '#616161', '#FFAB91', '#A5D6A7', '#B2EBF2', '#BCAAA4', '#AFB42B', '#FFF59D', '#EF9A9A', '#F8BBD0', '#E1BEE7',],
                    label: 'Dataset 1'
                }],
                labels: [
                    'Logement', 'Alimentaire', 'Voiture', 'Transport',
                    'Loisirs', 'Voyage', 'Cadeaux', 'Achats',
                    'Vétements', 'Santé', 'Impôts', 'Frais Bancaires',
                    'Emprunt'
                ]
                
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Dépenses '+(new Date).getFullYear()
                },
                legend: {
                    display: false,
                    position: 'left',
                },

                animation: {
                    animateScale: true,
                    animateRotate: true
                }
            }
        });


    }


</script>



    <!--Titre-->
    <div class="jumbotron" style="padding-top:15px; padding-bottom:15px">
        <h1 id="titre" class="display-4">Bienvenue</h1><hr />
    </div>

<div class="row">

    <!--Carte image du jour-->
    <div class="col-md-6">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div id="fondCarte" class="mdl-card__title mdl-card--expand">
                <h2 id="titreCarte" class="mdl-card__title-text"></h2>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a id="dlCarte" target="_blank" class="mdl-button mdl-js-button mdl-button--primary" href="#">Télécharger</a>
            </div>

        </div>
    </div>

    <!--Carte graphique Revenus-->
    <div class="col-md-3">
        <center>
            <div class="demo-card-square mdl-card_Small mdl-shadow--2dp">
                <div  style="position: relative; height:300px; width:300px">
                    <canvas id="ch_RevenusPie"></canvas>
                </div>
                
                <div class="mdl-card__actions mdl-card--border">
                    <label class="mdl-button mdl-js-button mdl-button--primary">Revenus 2019</label>
                </div>
            </div>
        </center>
    </div>


    <!--Carte graphique Dépenses-->
    <div class="col-md-3">
        <center>
             <div class="demo-card-square mdl-card_Small mdl-shadow--2dp">
                <div  style="position: relative; height:300px; width:300px">
                    <canvas id="ch_DepensesPie"></canvas>
                </div>
                
                <div class="mdl-card__actions mdl-card--border">
                    <label class="mdl-button mdl-js-button mdl-button--primary">Dépenses 2019</label>
                </div>
            </div>
        </center>
    </div>

</div>
<br />
    <!--Carte image du jour-->
    <div class="jumbotron" style="padding-top:15px; padding-bottom:15px">
        <p id="descriptionCarte" class="lead" ></p>
    </div>